{
  "host": "127.0.0.1",
  "port": 8080,
  "log_level": "info",
  "database_dsn": "host=localhost port=5432 user=gophkeeper password=gophkeeper dbname=gophkeeper sslmode=disable",
  "run_migrations": false,
  "enable_https": false,
  "tls_cert_file": "server.crt",
  "tls_key_file": "server.key",
  "trusted_subnet": "",
  "grpc_port": 8081,
  "secret_key": "phWHXBnGVl4JyzNbYRL3MSRL07pir7i6",
  "secret_version_count": 10,
  "salt_length": 32,
  "min_password_length": 3,
  "max_password_length": 255,
  "audit_file": "audit.json",
  "audit_url": ""
}
